.modalBackground {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #42424242;
    width: 100vw;
    height: 100vh;
}

.modalBody {
    white-space: pre-wrap;
    position: fixed;
    width: 40vw;
    height: 64vh;
    background: #fafafa;
    left: 50%;
    top: 12vh;
    transform: translate(-50%, 0);
    padding: 24px;
    border-radius: 8px;
    overflow: auto;
    line-height: 2em;
}

.closeButton {
    display: block;
    margin-left: auto;
}
